/* version: 2025.01.31 */
:root {
    --tigress-color: #ffffff;
    --tigress-background-color: #212529;
}

body {
    background-color: var(--tigress-background-color);
    color: var(--tigress-color);
}