/* version: 2025.12.19 */
:root {
    --color: #000000;
    --background-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--color);
}

.Start {
    text-shadow: rgb(0, 0, 0) 0 0 1px;
}