/* version: 2025.05.22 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#development {
    border-left: 10px solid red;
}

#test {
    border-left: 10px solid green;
}

.main-content {
    padding: 10px 0;
}

/* Fieldset and legend styling */
fieldset {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #fdfdfd;
    color: black;
    overflow: hidden;
}

fieldset legend {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

/* tab-menu styling */
.tab-menu {
    background-color: #f2f2f2;
    border-radius: 5px;
}

/* auto-grow for textarea */
.auto-grow {
    overflow: hidden;
}

/* Transform checkboxes into toggle switches */
.slider-container {
    display: block; /* or inline-block based on layout */
    position: relative;
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

/* Hide the checkbox */
.slider-checkbox {
    display: none;
}

/* Slider styling */
.slider-label {
    position: relative;
    display: inline-block;
    width: 2.2em; /* Width of the slider */
    height: 1em; /* Height of the slider */
    background-color: #ccc; /* Background of the slider */
    border-radius: 2em; /* Rounded corners */
    cursor: pointer;
    transform: translateY(0.20em);
}

/* Adding text to the slider */
.slider-checkbox:checked + .slider-label-text::after,
.slider-checkbox:checked + .slider-label-text-en::after,
.slider-checkbox:checked + b + .slider-label-text::after,
.slider-checkbox:checked + b + .slider-label-text-en::after {
    content: 'Yes';
    color: white;
    position: absolute;
    left: 0.3em;
    top: 0.05em;
    font-size: 0.6em;
}

.slider-label-text::after,
.slider-label-text-en::after {
    content: 'No';
    color: black;
    position: absolute;
    right: 0.5em;
    top: 0.05em;
    font-size: 0.6em;
}

.slider-checkbox:checked + .slider-label-text-nl::after,
.slider-checkbox:checked + b + .slider-label-text-nl::after {
    content: 'Ja';
    color: white;
    position: absolute;
    left: 0.5em;
    top: 0.05em;
    font-size: 0.6em;
}

.slider-label-text-nl::after {
    content: 'Nee';
    color: black;
    position: absolute;
    right: 0.3em;
    top: 0.05em;
    font-size: 0.6em;
}

.slider-checkbox:checked + .slider-label-text-fr::after,
.slider-checkbox:checked + b + .slider-label-text-fr::after {
    content: 'Oui';
    color: white;
    position: absolute;
    left: 0.3em;
    top: 0.05em;
    font-size: 0.6em;
}

.slider-label-text-fr::after {
    content: 'Non';
    color: black;
    position: absolute;
    right: 0.3em;
    top: 0.05em;
    font-size: 0.6em;
}

/* Thumb styling */
.slider-label::before {
    content: "";
    position: absolute;
    top: 0.08em;
    left: 0.08em;
    width: 0.8em; /* Width of the thumb */
    height: 0.8em; /* Height of the thumb */
    border-radius: 50%; /* Rounded thumb */
    background-color: white; /* Thumb color */
    transition: 0.4s; /* Smooth transition for sliding effect */
    z-index: 1000;
}

/* Checked state styling */
.slider-checkbox:checked + .slider-label::before,
.slider-checkbox:checked + b + .slider-label::before {
    transform: translateX(1.2em); /* Move the thumb to the right */
}

/* Optional: Styling for when the slider is focused with keyboard navigation */
.slider-checkbox:focus + .slider-label,
.slider-checkbox:focus + b + .slider-label {
    box-shadow: 0 0 1px #2196F3;
}

/* Optional: Styling for the slider when it is checked (active) */
.slider-checkbox:checked + .slider-label,
.slider-checkbox:checked + b + .slider-label {
    background-color: #2196F3; /* Change slider background when active */
}

/* Styling for text */
.text-top {
    vertical-align: top;
}

.text-middle {
    vertical-align: middle;
}

.text-bottom {
    vertical-align: bottom;
}

/* Default color for buttons & tiles */
.red {
    background: #bc1c48;
}

.red-1 {
    border: solid 2px;
    border-color: #bc1c48;
}

.red-1 .label {
    color: #DBDBDB;
}

.red-1 i {
    color: #DBDBDB;
}

.red-1-text {
    color: #bc1c48 !important;
}

.blue {
    background: #00a9ec;
}

.blue-1 {
    border: solid 2px;
    border-color: #00a9ec;
}

.blue-1 .label {
    color: #DBDBDB;
}

.blue-1 i {
    color: #DBDBDB;
}

.blue-1-text {
    color: #00a9ec !important;
}

.blue-2 {
    border: solid 2px;
    border-color: #04CBA2;
}

.blue-2 .label {
    color: #DBDBDB;
}

.blue-2 i {
    color: #DBDBDB;
}

.blue-2-text {
    color: #04CBA2 !important;
}

.col2 {
    border: solid 2px;
    border-color: #cc6633;
}

.col2 .label {
    color: #DBDBDB;
}

.col2 i {
    color: #DBDBDB;
}

.col3 {
    border: solid 2px;
    border-color: #D8BB26;
}

.col2-text {
    color: #cc6633 !important;
}

.col3 .label {
    color: #DBDBDB;
}

.col3 i {
    color: #DBDBDB;
}

.col3-text {
    color: #D8BB26 !important;
}

.col4 {
    border: solid 2px;
    border-color: #03C532;
}

.col4 .label {
    color: #DBDBDB;
}

.col4 i {
    color: #DBDBDB;
}

.col4-text {
    color: #03C532 !important;
}

.orange {
    background: #FF520E;
}

.orange-1 {
    border: solid 2px;
    border-color: #FF520E;
}

.orange-1 .label {
    color: #DBDBDB;
}

.orange-1 i {
    color: #DBDBDB;
}

.orange-1-text {
    color: #FF520E !important;
}

.green {
    background: #0e5d30;
}

.green-1 {
    border: solid 2px;
    border-color: #0e5d30;
}

.green-1 .label {
    color: #DBDBDB;
}

.green-1 i {
    color: #DBDBDB;
}

.green-1-text {
    color: #0e5d30 !important;
}

.purple {
    background: #663399;
}

.purple-1 {
    border: solid 2px;
    border-color: #663399;
}

.purple-1 .label {
    color: #DBDBDB;
}

.purple-1 i {
    color: #DBDBDB;
}

.purple-1-text {
    color: #663399 !important;
}

.gray, .grey {
    border: solid 1px;
    border-color: #4E4E4D;
}

.gray i, .grey i {
    opacity: 0.5;
}

.gray span, .grey span {
    opacity: 0.5;
}

.gray-text, .grey-text {
    color: #4E4E4D !important;
}

.green-bright {
    background: #78d204;
}

.green-bright-1 {
    border: solid 2px;
    border-color: #78d204;
}

.green-bright-1 .label {
    color: #DBDBDB;
}

.green-bright-1 i {
    color: #DBDBDB;
}

.green-bright-1-text {
    color: #78d204 !important;
}

.blue-nav {
    background: #25478e;
}

.blue-nav-1 {
    border: solid 2px;
    border-color: #25478e;
}

.blue-nav-1 .label {
    color: #DBDBDB;
}

.blue-nav-1 i {
    color: #DBDBDB;
}

.blue-nav-1-text {
    color: #25478e !important;
}

.yellow {
    background: #FFB400;
}

.yellow-1 {
    border: solid 2px;
    border-color: #FFB400;
}

.yellow-1 .label {
    color: #DBDBDB;
}

.yellow-1 i {
    color: #DBDBDB;
}

.yellow-1-text {
    color: #FFB400 !important;
}

.brown {
    background: #744021;
}

.brown-1 {
    border: solid 2px;
    border-color: #744021;
}

.brown-1 .label {
    color: #DBDBDB;
}

.brown-1 i {
    color: #DBDBDB;
}

.brown-1-text {
    color: #744021 !important;
}

.kerst {
    background: #B51E31;
}

.kerst-1 {
    border: solid 2px;
    border-color: #B51E31;
}

.kerst-1 .label {
    color: #DBDBDB;
}

.kerst-1 i {
    color: #DBDBDB;
}

.kerst-1-text {
    color: #B51E31 !important;
}

/* Default CSS for alert */
.alert {
    padding: 15px;
    margin: 0 auto 10px;
    max-width: 1024px;
}

/* Breakout Container */
.break-out {
    width: 80vw;
    position: relative;
    margin-left: calc(-1 * (80vw - 100%) / 2);
}

.break-out90 {
    width: 90vw;
    position: relative;
    margin-left: calc(-1 * (90vw - 100%) / 2);
}

.break-out99 {
    width: 99vw;
    position: relative;
    margin-left: calc(-1 * (99vw - 100%) / 2);
}

.break-out-print {
    min-width: 98vw;
    max-width: 98vw;
    position: relative;
    margin-left: calc(-1 * (98vw - 100%) / 2);
}

/* Survey steps */
.survey-form .steps {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 35px);
    align-self: center;
    margin: 10px auto;
}

.survey-form .steps::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #f2f4f7;
    margin: auto 0;
    bottom: 0;
    z-index: 0;
}

.survey-form .steps .step {
    width: 25px;
    height: 25px;
    background-color: #f2f4f7;
    border: 3px solid #f2f4f7;
    border-radius: 50px;
    z-index: 1;
}

.survey-form .steps .step.current {
    background-color: #8cc6f2;
}

.survey-form .steps .step.complete {
    background-color: #6ECBA4;
}

.survey-form .step-content {
    display: none;
}

.survey-form .step-content.current {
    display: block;
}

.survey-form .group {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-bottom: 15px;
}

.survey-form .group label {
    display: flex;
    font-weight: 500;
    height: 25px;
    align-items: center;
    padding-bottom: 5px;
}

.survey-form .step-content {
    display: none;
}

.survey-form .step-content.current {
    display: block;
}

/* Fix for DataTables SearchPane */

@media (min-width: 768px) {
    .d-md-flex:has(.dtsp-searchPanes) {
        display: block !important;
    }
}

/* Fix for DataTables FixedColumns */
table.dataTable {
    border-collapse: collapse !important;
}
