#version-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: darkgray;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
    min-width: 100px;
}