#version-box {
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 40%;
    background-color: darkgray;
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
    min-width: 100px;
    box-shadow: 0 0 0 1px black;
    overflow-y: auto;
    overflow-x: hidden;
}

#image-tigress img {
    position: absolute;
    top: 5%;
    left: 5%;
    max-width: 30%;
}

#versionBackButton {
    position: absolute;
    top: 2px;
    right: 4px;
}

#versionBackButton button {
    font-size: 20px;
    line-height: 10px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 1000px;
    box-shadow: 0 0 0 1px black;
}

#versionBackButton button:before {
    content: "Close";
}

#versionBackButton button:hover {
    background-color: lightgray;
    color: black;
}

button {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #image-tigress img {
        display: none;
    }

    #version-box {
        left: 5%;
    }
}